In [16]:
import pandas as pd
import numpy as np

In [15]:
data = pd.read_excel("ev_final.xlsx")
data.head()

,uid,name,vendor_name,address,latitude,longitude,city,country,open,close,...,postal_code,zone,0,available,capacity,cost_per_unit,power_type,total,type,vehicle_type
0,STATIC12,GensolCharge Pvt. Ltd.,GensolCharge Pvt. Ltd.,"NDSE Grid, BRPL South Extension",28.568238,77.219666,Delhi,India,00:00:00,23:59:59,...,110001,central-delhi,NaN,NaN,15 kW,NaN,DC,2.0,BEVC DC 001,['4W']
1,STATIC14,REIL,REIL,Scada office kalka ji,28.541995,77.260583,Delhi,India,00:00:00,23:59:59,...,110001,central-delhi,NaN,NaN,3.3 kW,NaN,AC,3.0,BEVC AC 001,"['2W', '3W', '4W']"
2,STATIC15,REIL,REIL,Ashram Chowk Mathura Road,28.571189,77.259806,Delhi,India,00:00:00,23:59:59,...,110001,central-delhi,NaN,NaN,15 kW,NaN,DC,2.0,BEVC DC 001,['4W']
3,STATIC16,REIL,REIL,Nizamuddin Railway station,28.588991,77.253240,Delhi,India,00:00:00,23:59:59,...,110001,central-delhi,NaN,NaN,15 kW,NaN,DC,4.0,BEVC DC 001,['4W']
4,STATIC17,BluSmart,BluSmart,"BSES Bhawan, Nehru Place, New Delhi 110048",28.549427,77.254636,Delhi,India,00:00:00,23:59:59,...,110001,central-delhi,NaN,NaN,15 kW,NaN,DC,1.0,BEVC DC 001,['4W']

In [13]:
data.shape

(2705, 25)

In [12]:

data.describe()

          latitude    longitude   postal_code    0    available        total
count  2705.000000  2705.000000  2.705000e+03  0.0  2467.000000  2497.000000
mean     27.021287    77.281839  1.526602e+05  NaN     0.997973     1.221866
std       4.295497     3.884501  1.394690e+05  NaN     1.626897     1.993488
min       0.000000     0.000000  0.000000e+00  NaN     0.000000     1.000000
25%      28.535504    77.095390  1.100320e+05  NaN     1.000000     1.000000
50%      28.608759    77.195630  1.100590e+05  NaN     1.000000     1.000000
75%      28.674200    77.281573  1.100810e+05  NaN     1.000000     1.000000
max      30.325030    88.516963  1.100091e+06  NaN    73.000000    78.000000

In [8]:
data.isnull().sum()

uid                   0
name                  0
vendor_name           0
address               0
latitude              0
longitude             0
city                  0
country               0
open                  0
close                 0
logo_url            467
staff                 0
payment_modes         0
contact_numbers       0
station_type          0
postal_code           0
zone                295
0                  2705
available           238
capacity            208
cost_per_unit       252
power_type          208
total               208
type                208
vehicle_type        208
dtype: int64

In [29]:
data.columns

Index([            'uid',            'name',     'vendor_name',
               'address',        'latitude',       'longitude',
                  'city',         'country',            'open',
                 'close',           'staff',   'payment_modes',
       'contact_numbers',    'station_type',     'postal_code',
                  'zone',                 0,       'available',
              'capacity',   'cost_per_unit',      'power_type',
                 'total',            'type',    'vehicle_type'],
      dtype='object')

In [35]:
new_data = data[[ 'uid',            'name',     'vendor_name',
               'address',        'latitude',       'longitude',
                  'city',         'country',            'open',
                 'close',           'staff',   'payment_modes',
       'contact_numbers',    'station_type',     'postal_code',
                  'zone', 'available',
              'capacity',   'cost_per_unit',      'power_type',
                 'total',            'type',    'vehicle_type']]

In [38]:
new_data.sample(5)

,uid,name,vendor_name,address,latitude,longitude,city,country,open,close,...,station_type,postal_code,zone,available,capacity,cost_per_unit,power_type,total,type,vehicle_type
47,EESL401,EESL,EESL,"NDMC Parking, Outside Standard Chartered Bank...",28.624419,77.213718,New Delhi,India,00:00:00,23:59:59,...,charging,110001,central-delhi,0.0,15 kW,₹10 per unit,DC,1.0,DC-001,['4W']
1760,REVBOLT_004128,REVOS,REVOS,Delhi,28.627159,77.374755,New Delhi,India,00:00:00,00:00:00,...,charging,110066,south-west-delhi,1.0,3.3 kW,₹0 per unit,AC,1.0,5A/15A Socket,"['2W', '3W']"
586,REVBOLT_00016268,REVOS,REVOS,b927 shastri nagar delhi,28.673211,77.182465,New Delhi,India,00:00:00,00:00:00,...,charging,110007,north-delhi,1.0,3.3 kW,₹0 per unit,AC,1.0,5A/15A Socket,"['2W', '3W']"
634,REVBOLT_003431,REVOS,REVOS,"Dwaraka, Delhi",28.596298,77.037010,Delhi,India,00:00:00,00:00:00,...,charging,110075,south-west-delhi,1.0,3.3 kW,₹20 per unit,AC,1.0,5A/15A Socket,"['2W', '3W']"
1708,REVBOLT_00017803,REVOS,REVOS,Sector 13 Dwarka Delhi,28.601496,77.038611,Delhi,India,00:00:00,00:00:00,...,charging,110075,south-west-delhi,1.0,3.3 kW,₹0 per unit,AC,1.0,5A/15A Socket,"['2W', '3W']"

In [44]:
new_data.isnull().sum()

uid                  0
name                 0
vendor_name          0
address              0
latitude             0
longitude            0
city                 0
country              0
open                 0
close                0
staff                0
payment_modes        0
contact_numbers      0
station_type         0
postal_code          0
zone                 0
available          238
capacity           208
cost_per_unit      252
power_type         208
total              208
type               208
vehicle_type       208
dtype: int64

In [42]:
new_data['zone'].value_counts()
new_data['zone'].fillna('Unknown', inplace=True)

C:\Users\RAJIB\AppData\Local\Temp\ipykernel_75260\3577327276.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_data['zone'].fillna('Unknown', inplace=True)
C:\Users\RAJIB\AppData\Local\Temp\ipykernel_75260\3577327276.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['zone'].fillna('Unknown', inplace=True)

In [46]:
new_data['available'].value_counts()
new_data['available'].fillna(new_data['available'].mode()[0],inplace=True)

C:\Users\RAJIB\AppData\Local\Temp\ipykernel_75260\738478719.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_data['available'].fillna(new_data['available'].mode()[0],inplace=True)
C:\Users\RAJIB\AppData\Local\Temp\ipykernel_75260\738478719.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['available'].fillna(new_data['available'].mode()[0],inplace=True)